<div class="excerpt">
    <div class="excerpt-data">
        <div class="excerpt-tittle"><span><%- tittle %></span></div>
        <div class="excerpt-text"><%- partial('partial/article', {text:excerpt}) %></div>
    </div>
    <div><a class="excerpt-div-more" href="<%- url_for(url) %>">>>></a></div>
</div>