<div id="footer">
    <div class="theme-info">
        <span>theme:<a href="https://github.com/12-th/ezread">ezread</a></span>
    </div>
    <div class="about-me">
        <span>想要给主题push request？<a href="https://github.com/12-th/">contact me!!!!</a></span>
    </div>
</div>