<div id="footer">
    <%- css('css/footer.css') %> 
    <%- js('js/footer.js') %> 
    <span id="btn-to-top">&#8679;</span>
    <div id="theme-info">
        <span>theme:<a href="https://github.com/12-th/ezread">ezread</a></span>
    </div>
</div>