<div id="header">
    <%- js("js/header.js") %>
    <%- css('css/header.css') %>
    <div id="sidebar">
        <ul>
            <a href="#home">主页</a>
            <a href="#archive">归档</a>
        </ul>
    </div>
    <div id="mask"></div>
    <span id="btn-sidebar">&#9776;</span>
</div>