<div id="website-info">
    <div id="site-strings" style="display:none"><%- config.ezread.description %></div>
    <div><span id="site-tittle"><%- config.title %></span></div>
    <div><span id="site-description"></span></div>
</div>