<div id="header">
    <div id="sidebar">
        <ul>
            <a href="<%- url_for('') %>">主页</a>
            <a href="<%- url_for('archives') %>">归档</a>
            <a href="<%- url_for('categories')  %> ">分类</a>
            <a href="<%- url_for('tags') %>">tag</a>
        </ul>
    </div>
    <div id="mask"></div>
    <span id="btn-sidebar">&#9776;</span>
</div>