
#archives{
    width: 100%;
}

#archives .head{
    width: 100%;
    position: relative;
    top:0;
}
.sidebar{
    position: fixed;
    left:20px;
    top:0px;
    z-index: 3;
}

#archives .archive-grid{
    display:grid;
    grid-template-rows: auto auto auto;
    width:100%;
}

#archives .content-grid{
    display:grid;
    grid-template-columns: 125px auto 125px;
    margin-top: 50px;
    margin-bottom: 20px;
    min-width: 500px;
    min-height: 90vh;
}

#archives .foot{
    height: 50px;
    position: absolute;
    bottom:100%-50px;
    left: 0px;
    right: 100%;
    width:100%;
}