.article-text{
    color:#212529;
    text-decoration: none;
    padding:0 10px;
    font-family: Consolas;
    border-left: 1px dotted #ced4da;
    border-right: 1px dotted #ced4da;
}

.article-text a{
    color: #228be6;
    text-decoration: none;
}

.article-text a:hover{
    color:#f03e3e;
    text-decoration: none;
}

.article-text figure{
    background-color: #272822;
    color: #868e96;
    font-family: Consolas;
    margin:0 20px;
    margin:5px auto;
    border-radius: 2px;
    border-left: 3px solid #0b7285;
}

.article-text .gutter{
    color: #495057;
    text-align:right;
    padding-right: 10px;
    display:inline-table;
}

.article-text .code{
    display:inline-table;
}

.article-text .gutter pre{
    margin: 0;
    font-family:Consolas;
}

.article-text .code pre{
    margin: 0;
    font-family:Consolas;
}

.article-text p{
    margin: 8px auto;
}
.article-text ul{
    margin: 8px auto;
}
.article-text ul li{
    margin:4px auto;
}

.article-text h1{
    margin:20px auto;
    border-bottom:2px solid #868e96;
    padding-bottom: 5px;
}

.article-text h2{
    margin:20px auto;
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom:2px dotted #868e96;
}

.article-text h3{
    margin:20px auto;
    padding-left: 20px;
    padding-bottom: 5px;
}

.article-text h4{
    margin:20px auto;
    padding-left: 20px;
    padding-bottom: 5px;
}

.article-text h5{
    margin:20px auto;
    padding-left: 20px;
    padding-bottom: 5px;
}
.article-text h6{
    margin:20px auto;
    padding-left: 20px;
    padding-bottom: 5px;
}

.article-text .keyword{
    color: #F92672;
}

.article-text .string{
    color: #E6DB74;
}

.article-text .function{
    color:#A6E22E;
}

.article-text .built_in{
    color: #66D9EF;
    font-style: italic;
}

.article-text .section{
    color:#A6E22E;
}

.article-text .variable{
    color:#E6DB74;
}

.article-text .meta-keyword{
    color: #F92672;
}

.article-text .meta-string{
    color: #E6DB74;
}

.article-text blockquote{
    background-color: #303030;
    color: #868e96;
    margin: auto 20px;
    padding-left: 20px;
    border-left: 3px solid rgb(3, 169, 244);
}