#footer{
    background-color:#343a40;
    height: 100%;
    display: grid;
    align-items:center;
    padding: 10px 0;
}

#footer span{
    display: inline-block;
}

#footer .theme-info{
    vertical-align:text-top;
    text-align: center;
    color:#495057;
    width: 100%;
}

#footer .about-me{
    vertical-align:text-top;
    text-align: center;
    color:#495057;
    width: 100%;
    font-size: 12px;
}

#footer a{
    text-decoration: none;
    color:#868e96;
}

#footer a:hover{
    color:#adb5bd
}