#website-info{
    text-align: center;
    padding : 10px 0;
    width:auto;
    color:#f8f9fa;
    background-color: #343a40;
}

#site-tittle{
    display: inline-block;
    font-size:40px;
    font-family: Consolas;
    margin-right: 10px;
}

#site-description-wrapper{
    text-align: right;
    padding-right: 50px;
}

#site-description{
    font-size: 15px;
    font-family: "STXingkai","STKaiti","Consolas";
    margin-top: 10px;
    margin-right: 10px;
}