.sidebar{
    position: fixed;
    left:20px;
    top:0px;
    z-index: 3;
}

.index-grid{
    display:grid;
    grid-template-rows: auto auto auto 50px;
}

#articles{
    position: relative;
    display:grid;
    grid-template-columns: 125px minmax(500px,auto) 125px;
}

#pageinator{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#pageinator a, #pageinator span{
    text-decoration: none;
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
    padding:5px;
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    color: #212529;
}

#pageinator a:hover{
    background-color:#15aabf;
    color: #ffffff;
}

#pageinator span{
    color: #ffffff;
    background-color: #22b8cf;
    cursor: default;
}

.foot{
    bottom:0px;
}