.sidebar{
    position: fixed;
    left:20px;
    top:0px;
    z-index: 3;
}

.index-grid{
    display:grid;
    grid-template-rows: auto auto 50px;
}

#website-info{
    text-align: center;
    padding : 10px 0;
    width:auto;
    color:#f8f9fa;
    background-color: #343a40;
    margin-bottom: 50px;
}

#site-tittle{
    display: inline-block;
    font-size:40px;
    font-family: Consolas;
    margin-right: 10px;
}

#site-description{
    display: block;
    font-size: 15px;
    font-family: Consolas;
    margin-top: 10px;
}

#articles{
    position: relative;
    display:grid;
    grid-template-columns: 250px auto;
    left: -125px;
}